

.AddNewTransaction h2 {
    margin-bottom: 10px;
}

.AddNewTransaction p {
    margin-bottom: 5px;
}

.AddNewTransaction .input {
    width: 100%; /* Adjust width as needed */
    margin: 0 auto; /* Centers the input horizontally */
    padding: 8px; /* Example padding */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.AddNewTransaction button {
    margin-top: 10px; /* Example margin */
    padding: 10px 20px; /* Example padding */
    width: 100%;
}
