
.Card{
    
    width: 300px;
    border: solid black 2px;
    height: 400px;
    overflow: hidden; /* Hide any overflow */
}

.imgContainer {
    height: 70%;
    overflow: hidden;
}

.imgContainer img {
    width: 100%;
}

.CardInfo {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.CardInfo >* {
    margin: 0px 0px;
}


@media (max-width: 768px) {
    
  }