

.NavBar{
    margin: 0;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Cart{
    position: relative;
}

.NrItems{
    position: absolute;
    top: 1%;
    right: -30%;
}